<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create bus</title>
    <link rel="stylesheet" type="text/css" th:href="@{/layoutstyle/nco_stylesheet.css}">
</head>
<body>

<!-- header -->
<div th:insert="index :: header"></div>

<!-- menu -->
<div th:insert="index :: menuBar"></div>

<!-- map & list -->
<div id="mapAndList">

<!-- map -->
    <div id="map">
        <table id="grid">
            <tr>
                <td><button id="A1" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="A2" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="A3" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="A4" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="A5" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="A6" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="A7" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="A8" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="A9" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="A10" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="A11" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="A12" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="A13" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="A14" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="A15" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="A16" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="A17" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="A18" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="A19" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="A20" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
            </tr>
            <tr>
                <td><button id="B1" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="B2" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="B3" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="B4" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="B5" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="B6" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="B7" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="B8" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="B9" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="B10" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="B11" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="B12" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="B13" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="B14" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="B15" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="B16" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="B17" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="B18" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="B19" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="B20" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
            </tr>
            <tr>
                <td><button id="C1" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="C2" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="C3" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="C4" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="C5" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="C6" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="C7" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="C8" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="C9" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="C10" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="C11" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="C12" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="C13" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="C14" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="C15" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="C16" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="C17" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="C18" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="C19" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="C20" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
            </tr>
            <tr>
                <td><button id="D1" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="D2" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="D3" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="D4" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="D5" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="D6" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="D7" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="D8" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="D9" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="D10" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="D11" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="D12" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="D13" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="D14" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="D15" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="D16" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="D17" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="D18" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="D19" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="D20" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
            </tr>
            <tr>
                <td><button id="E1" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="E2" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="E3" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="E4" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="E5" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="E6" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="E7" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="E8" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="E9" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="E10" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="E11" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="E12" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="E13" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="E14" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="E15" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="E16" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="E17" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="E18" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="E19" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="E20" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
            </tr>
            <tr>
                <td><button id="F1" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="F2" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="F3" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="F4" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="F5" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="F6" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="F7" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="F8" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="F9" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="F10" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="F11" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="F12" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="F13" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="F14" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="F15" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="F16" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="F17" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="F18" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="F19" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="F20" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
            </tr>
            <tr>
                <td><button id="G1" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="G2" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="G3" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="G4" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="G5" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="G6" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="G7" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="G8" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="G9" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="G10" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="G11" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="G12" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="G13" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="G14" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="G15" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="G16" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="G17" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="G18" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="G19" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="G20" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
            </tr>
            <tr>
                <td><button id="H1" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="H2" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="H3" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="H4" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="H5" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="H6" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="H7" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="H8" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="H9" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="H10" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="H11" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="H12" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="H13" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="H14" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="H15" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="H16" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="H17" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="H18" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="H19" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="H20" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
            </tr>
            <tr>
                <td><button id="I1" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="I2" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="I3" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="I4" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="I5" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="I6" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="I7" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="I8" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="I9" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="I10" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="I11" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="I12" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="I13" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="I14" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="I15" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="I16" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="I17" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="I18" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="I19" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="I20" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
            </tr>
            <tr>
                <td><button id="J1" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="J2" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="J3" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="J4" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="J5" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="J6" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="J7" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="J8" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="J9" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="J10" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="J11" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="J12" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="J13" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="J14" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="J15" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="J16" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="J17" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="J18" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="J19" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="J20" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
            </tr>
            <tr>
                <td><button id="K1" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="K2" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="K3" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="K4" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="K5" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="K6" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="K7" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="K8" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="K9" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="K10" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="K11" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="K12" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="K13" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="K14" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="K15" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="K16" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="K17" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="K18" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="K19" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="K20" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
            </tr>
            <tr>
                <td><button id="L1" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="L2" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="L3" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="L4" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="L5" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="L6" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="L7" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="L8" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="L9" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="L10" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="L11" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="L12" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="L13" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="L14" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="L15" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="L16" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="L17" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="L18" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="L19" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="L20" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
            </tr>
            <tr>
                <td><button id="M1" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="M2" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="M3" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="M4" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="M5" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="M6" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="M7" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="M8" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="M9" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="M10" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="M11" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="M12" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="M13" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="M14" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="M15" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="M16" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="M17" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="M18" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="M19" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="M20" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
            </tr>
            <tr>
                <td><button id="N1" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="N2" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="N3" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="N4" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="N5" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="N6" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="N7" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="N8" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="N9" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="N10" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="N11" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="N12" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="N13" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="N14" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="N15" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="N16" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="N17" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="N18" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="N19" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="N20" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
            </tr>
            <tr>
                <td><button id="O1" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="O2" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="O3" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="O4" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="O5" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="O6" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="O7" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="O8" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="O9" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="O10" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="O11" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="O12" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="O13" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="O14" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="O15" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="O16" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="O17" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="O18" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="O19" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="O20" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
            </tr>
            <tr>
                <td><button id="P1" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="P2" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="P3" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="P4" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="P5" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="P6" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="P7" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="P8" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="P9" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="P10" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="P11" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="P12" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="P13" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="P14" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="P15" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="P16" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="P17" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="P18" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="P19" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
                <td><button id="P20" class="mapButton" onclick="returnId(this.id);changeAddress()"></button></td>
            </tr>
        </table>
    </div>

<!-- map script -->
    <script type="text/javascript" th:inline="javascript">
        /*[# th:each="company : ${companyList}"]*/
        var x = /*[[${company.getAddress()}]]*/ "companyAddress";
        console.log(x);
        document.getElementById(x).innerHTML = /*[[${company.companyName}]]*/ "companyName";
        /*[/]*/
    </script>

<!-- list -->
    <div id="list">
<!-- busline header -->
        <table class="busline">
            <tr>
                <th colspan="2">Create new busline</th>
            </tr>
        </table>
        <br>

<!-- new add bus-->
        <form th:action="@{/buses/addBus}" th:object="${bus}" method="post">
            <table class="busline">
                <tr>
                    <td>Busline name:</td>
                </tr>
                <tr>
                    <td><input type="text" id="busName" required="true" class="form" th:field="*{busName}"></td>
                    <td><button type="submit" id="customFormBtn">Ok</button></td>
                </tr>
            </table>
        </form>

        <br>

<!-- add stops -->
        <form th:action="@{/buses/addStop}" th:object="${stop}" method="post">

            <input hidden th:name="|bus.idBus|" th:value="${idOfBus}"/>

            <table class="companies" id="stList">
                <tr>
                    <th colspan="2">Station list: </th>
                    <th colspan="3" style="font-size:12px; text-decoration:none">Click on the map to choose company</th>
                </tr>

<!--                <tr th:each="station : ${bus.stopList}">-->
<!--                    <td th:text="${station.getCompany().getCompanyName()}"></td>-->
<!--                    <td><button type="button" onclick="moveUp(this)">↑</button></td>-->
<!--                    <td><button type="button" onclick="moveDown(this)">↓</button></td>-->
<!--                    <td><button type="button" onclick="deleteLine(this)">Delete</button></td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <td id="address" colspan="4">Click on the map to choose company</td>-->
<!--                    <td><button type="button" id="customFormBtn" onclick="addLine(this);changeText()">Add</button></td>-->
<!--                </tr>-->

                <tr>
                    <td id="address" colspan="4">
                        <input id="stopRank" class="form-control" th:field="*{company.idCompany}"/>
                    </td>

<!--                    <input th:each="c : ${companyList}" th:if="${c.address == 'A1'}" th:value="${c.idCompany}" th:text="${c.companyName}"/>-->
<!--                    <input hidden th:name="|company.idCompany|" th:each="c : ${companyList}"-->
<!--                           th:if="${c.address == y}" th:value="${c.idCompany}"/>-->

                    <td><button type="submit" id="customFormBtn" class="btn" onclick="changeText()">Add</button></td>
                </tr>

<!--                <div class="form-group">-->
<!--                    <label for="stopRank" class="control-label">Rank (please insert a number)</label> <input-->
<!--                        id="stopRank" class="form-control" th:field="*{stopRank}"/>-->
<!--                </div>-->
            </table>
        </form>

        <script type="text/javascript" th:inline="javascript">
        var y;
        function returnId(clicked_id) {
            <!-- instead of the id it returns the company name situated at the clicked address -->
            y = document.getElementById(clicked_id).innerHTML;
            console.log("Company: " + y);
        }

        function changeAddress() {
            console.log("Company: " + y);
            /*[# th:each="company : ${companyList}"]*/
                if (y == /*[[${company.getCompanyName()}]]*/) {
                    console.log("Company from DB: " + /*[[${company.getCompanyName()}]]*/);
                    var id = /*[[${company.getIdCompany()}]]*/
                    console.log("Company from DB ID: " + id);
                }
            /*[/]*/

<!--            var x = document.getElementById("address");-->
<!--            x.innerHTML = "<input id='stopRank' class='form-control' th:field='*{company.idCompany}'/>";-->

            document.getElementById("stopRank").value = id;
        }

<!--		function changeText() {-->
<!--			var x = document.getElementById("address");-->
<!--			x.innerHTML = "Click on the map to choose company";-->
<!--		}-->

		function addLine(x) {
			var index = x.parentNode.parentNode.rowIndex+1;
			var table = document.getElementById("stList");
			var row = table.insertRow(index-1);
			var cell1 = row.insertCell(0);
			var cell2 = row.insertCell(1);
			var cell3 = row.insertCell(2);
			var cell4 = row.insertCell(3);

			table.rows[index].cells[0].colSpan = 3;
<!--			cell1.innerHTML = x.parentNode.parentNode.cells[0].innerHTML;-->
            var text = 'A1';
			cell1.innerHTML = '<input th:name="|company.idCompany|" th:value=text/>';


<!--			cell1.innerHTML = "<input type='text' id='company' required='true' class='form' th:field='*{company}'>";-->

			cell2.innerHTML = "<button type='button' id='customFormBtn' onclick='moveUp(this)'>↑</button>";
			cell3.innerHTML = "<button type='button' id='customFormBtn' onclick='moveDown(this)'>↓</button>";
			cell4.innerHTML = "<button type='button' id='customFormBtn' onclick='deleteLine(this)'>Delete</button>";
			printTable();
		}

		function deleteLine(x) {
			var index = x.parentNode.parentNode.rowIndex;
			document.getElementById("stList").deleteRow(index);
			printTable();
		}

		function moveUp(x) {
			var index = x.parentNode.parentNode.rowIndex;
			var content1 = x.parentNode.parentNode.cells[0].innerHTML;
			var content2 = document.getElementById("stList").rows[index-1].cells[0].innerHTML;

			document.getElementById("stList").rows[index-1].cells[0].innerHTML = content1;
			document.getElementById("stList").rows[index].cells[0].innerHTML = content2;
			printTable();
		}

		function moveDown(x) {
			var index = x.parentNode.parentNode.rowIndex;
			var content1 = x.parentNode.parentNode.cells[0].innerHTML;
			var content2 = document.getElementById("stList").rows[index+1].cells[0].innerHTML;

			document.getElementById("stList").rows[index+1].cells[0].innerHTML = content1;
			document.getElementById("stList").rows[index].cells[0].innerHTML = content2;
			printTable();
		}

        <!-- get company name from thymeleaf and print on console -->
        <!-- set function to store th:values and save stops for busline -->

        function printTable() {
            console.log();
		    var table = document.getElementById("stList");
		    for (var i = 1; i<table.rows.length-1; i++) {
		        row = table.rows[i];
		        console.log(row.cells[0].innerHTML + " / Rank: " + i);

		    }
		}
		</script>

<!-- stuff to check if passing the id of submitted bus works -->

<!--            <button type="button" onclick="showIdBus()">Show IdBus</button>-->
<!--            <script type="text/javascript" th:inline="javascript">-->
<!--            function showIdBus() {-->
<!--                /*[# th:each="bus : ${busList}"]*/-->
<!--                var x = /*[[${bus.getBusName()}]]*/ "test";-->
<!--                console.log("busName="  + x);-->
<!--                console.log("busIDs="  + /*[[${bus.getIdBus()}]]*/);-->
<!--                /*[/]*/-->

<!--                var y = /*[[${idOfBus}]]*/ "test";-->
<!--                console.log("busId="  + y);-->
<!--            }-->
<!--            </script>-->

<!-- business part for saving stop - copied up, in form div -->

<!--            <input hidden th:name="|bus.idBus|" th:value="${idOfBus}"/>-->
<!--            <input hidden th:name="|company.idCompany|" th:each="c : ${companyList}"-->
<!--                   th:if="${c.address == 'A1'}" th:value="${c.idCompany}" th:text="${c.companyName}"/>-->

<!--            <div class="form-group">-->
<!--                <label class="control-label">Bus name</label>-->
<!--                <select th:field="*{bus.idBus}">-->
<!--                    <option th:each="bus : ${busList}" th:if= "${bus.idBus == idOfBus}" th:value="${bus.idBus}" th:text="${bus.busName}"></option>-->
<!--                </select>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label class="control-label">Company</label>-->
<!--                <span th:each="c : ${companyList}" th:if="${c.address == 'A1'}" th:value="${c.idCompany}" th:text="${c.companyName}"></span>-->
<!--                <input th:field="*{company.idCompany}" th:each="c : ${companyList}" th:if="${c.address == 'A1'}" th:value="${c.idCompany}"/>-->

<!--                <select th:field="*{company.idCompany}">-->
<!--                    <option th:each="c : ${companyList}" th:if="${c.address == 'A1'}" th:value="${c.idCompany}" th:text="${c.companyName}"></option>-->
<!--                </select>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label for="stopRank" class="control-label">Rank (please insert a number)</label> <input-->
<!--                    id="stopRank" class="form-control" th:field="*{stopRank}"/>-->
<!--            </div>-->
<!--            <button type="submit" class="btn">Create</button>-->





<!--        <form th:action="@{/buses/addBus}" th:object="${bus}" method="post">-->

<!--        station list table deleted from here -->
<!--        below: the list of stations for update busline -->

<!--            <tr th:each="station : ${bus.stopList}">-->
<!--                <td th:text="${station.getCompany().getCompanyName()}"></td>-->
<!--                <td><button type="button" onclick="moveUp(this)">↑</button></td>-->
<!--                <td><button type="button" onclick="moveDown(this)">↓</button></td>-->
<!--                <td><button type="button" onclick="deleteLine(this)">Delete</button></td>-->
<!--            </tr>-->

<!--            <br>-->

<!--            <table class="busline">-->
<!--                <tr>-->
<!--                    <td>Busline name:</td>-->
<!--                    <td><input type="text" id="busName" required="true" class="form" th:field="*{busName}"></td>-->
<!--                </tr>-->
<!--            </table>-->

<!--            <br>-->
<!--            <br>-->
<!--            <button type="submit" class="formBtn" style="width: 345px">Save busline</button>-->
<!--        </form>-->



    </div>
</div>

<!-- footer -->
<div th:insert="index :: footer"></div>

</body>
</html>