<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Company List</title>
</head>
<body>
<h1>Company List</h1>
<br>
<table>
    <thead>
    <tr>
        <th> Id </th>
        <th> Company Name </th>
        <th> Description </th>
        <th> Address </th>
        <th> Max guests </th>
        <th> Delete </th>
        <th> Update </th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="company : ${companyList}">
        <td th:text="${company.idCompany}" ></td>
        <td th:text="${company.CompanyName}"></td>
        <td th:text="${company.description}"></td>
        <td th:text="${company.address}"></td>
        <td th:text="${company.maxUsers}"></td>
        <td><a th:href="@{/companies/delete/{id}(id=${company.idCompany})}">Delete</a></td>
        <!--        <td><a th:href="@{/api/buses/delete?id=${bus.idBus}">Delete</a></td>-->
        <td><a th:href="@{/companies/update/{id}(id=${company.idCompany})}">Update</a></td>
    </tbody>
</table>
<br>
<a href="/companies/addCompany">Add company</a>
<br>
<a href="/index">Home</a>
</body>
</html>