<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update bus</title>
</head>
<body>
<h1>Update bus</h1>

<form th:action="@{/buses/update}" th:object="${bus}" method="post">
    <div class="form-group">
        <label for="busName" class="control-label">FirstName</label>
        <input id="busName" class="form-control" th:field="*{busName}"/>
    </div>
    <input id="idBus" type="hidden" th:field="*{idBus}"/>
    <button type="submit" class="btn">Update</button>
</form>

</body>
</html>